name: Github Training CI

on:
  push:

jobs:
  sam:
    runs-on: ${{ matrix.os-version }}
    strategy:
      fail-fast: false
      matrix:
        os-version: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Show
        run: ls -alF /usr/local/bin

      - name: SAM??
        run: which sam

      - name: SAM version
        run: sam --version
